.footer {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  clear:both;
}

.footer2 {
  position: relative;
  text-align: center;
  padding-top: 614px;
  padding-bottom: 20px;
  clear:both;
}
